.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-5on5 {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 300px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

.logo img {
  float: right;
}

.please-select-gameId {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.please-select-logo {
  height: 60%;
  width: 60%;
}

.mat-selector {
  width: 40%;
}

::ng-deep .mat-select-panel {
  max-height: 80vh !important;
}

.headers {
  font-family: Arial, Helvetica, sans-serif;
}

.info-tooltips {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
}