<div class="grid-container">
  <h1 class="mat-h1">Team Analysis - Single Game</h1>


  <mat-grid-list cols="5" rowHeight="120px" gutterSize="-15px">

    <!-- query params -->
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card">
        <li class="mat-form-field--inline">
          <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>Select a Team</mat-label>
            <mat-select [(value)]="selectedTeam" (selectionChange)="changeSelectedTeam($event)">
              <mat-optgroup *ngFor="let division of divisions" [label]="division.divisionName">
                <mat-option *ngFor="let team of division.teams" [value]="team"> {{team.name}} </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>Select a Game</mat-label>
            <mat-select [(value)]="selectedGameId" (selectionChange)="changeSelectedGameId($event.value)">
              <mat-option *ngFor="let game of games" [value]="game.gameId">
                {{ game.date }}: {{ game.opponent }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
    </mat-card>
  </mat-grid-tile>

  <!-- game summary -->
  <mat-grid-tile [colspan]="2" [rowspan]="5">
    <mat-card class="dashboard-card">
      <div *ngIf="selectedGameId==0; else viewSummary" class="please-select-gameId">
        <img src="../../assets/logos/{{selectedTeam.id}}.svg" alt="Logo" class="please-select-logo">
        <h2> {{directionsMessage}} </h2>
      </div>
      <ng-template #viewSummary>
        <app-team-analysis-game-summary [gameSummary]="gameSummary"></app-team-analysis-game-summary>
      </ng-template>
    </mat-card>
  </mat-grid-tile>

  <!-- game flow graphic -->
  <mat-grid-tile [colspan]="3" [rowspan]="4">
    <mat-card class="dashboard-card">
      <div *ngIf="selectedGameId==0; else viewGameflow" class="please-select-gameId">
        <img src="../../assets/logos/{{selectedTeam.id}}.svg" alt="Logo" class="please-select-logo">
        <h2> {{directionsMessage}} </h2>
      </div>
      <ng-template #viewGameflow>
        <app-gameflow-chart [gameflow]="gameflow"></app-gameflow-chart>
      </ng-template>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div>
  <mat-card class="dashboard-card-5on5">
    <div *ngIf="selectedGameId==0; else viewLineStats" class="please-select-gameId">
      <img src="../../assets/logos/{{selectedTeam.id}}.svg" alt="Logo" class="please-select-logo">
      <h2> {{directionsMessage}} </h2>
    </div>
    <ng-template #viewLineStats>
      <div style="display: flex;">
        <h1 class="headers">5on5 Line Statistics</h1>
        <div class="info-tooltips">
          <a mat-raised-button 
              matTooltip="Click here to view details of expected goals model"
              matTooltipPosition="above"
              href="https://github.com/shawzy2/expected_goals" target="_blank">
            Expected Goals Model  
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Forwards">
          <app-line-stats [lineStats]="lineStats.fwd" [lineStatsType]="'fwd'" [lineStatsTableLength]="4"></app-line-stats>
        </mat-tab>
        <mat-tab label="Defensemen">
          <app-line-stats [lineStats]="lineStats.def" [lineStatsType]="'def'" [lineStatsTableLength]="3"></app-line-stats>
        </mat-tab>
        <mat-tab label="Forwards+Defensemen">
          <app-line-stats [lineStats]="lineStats.skater" [lineStatsType]="'group'" [lineStatsTableLength]="5"></app-line-stats>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </mat-card>
</div>

<div>
  <mat-card class="dashboard-card-5on5">
    <div *ngIf="selectedGameId==0; else viewLineMap" class="please-select-gameId">
      <img src="../../assets/logos/{{selectedTeam.id}}.svg" alt="Logo" class="please-select-logo">
      <h2> {{directionsMessage}} </h2>
    </div>
    <ng-template #viewLineMap>
      <app-shot-rink [data]="shotMap"></app-shot-rink> 
    </ng-template>
  </mat-card>
</div>

  <!-- <mat-grid-list rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
