.dashboard-card {
    bottom: 10vh;
    max-width: 40vw;
    margin-left: auto; 
    margin-right: 0;
}

.content-outer-div {
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.header {
    display:flex; 
    flex-direction: row; 
    align-items: center;
    margin-bottom: 2vh;
}

.row {
    margin-bottom: 2vh;
}

.row-statistic {
    display:flex; 
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
}

.logo-score-left {
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    display:flex; 
    flex-direction: row; 
    align-items: center;
}

.logo-score-right {
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    display:flex; 
    flex-direction: row; 
    align-items: center;
}

.team-logo {
    height: 3vw;
}

.score-text {
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.stat-text {
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    // font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.row-proportion-bar-outer {
    text-align: center;
}