$headshot-aspect-ratio: 84px;

.full-width-table {
  width: 100%;
}

.headshot {
  max-width: $headshot-aspect-ratio;
  max-height: $headshot-aspect-ratio;
  width: auto; 
  height: auto;
  // width: auto;
  // height: 100%;
  // max-height: var(--headshot-aspect-ratio);

  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 0px;
}

.table-divider {
  border-left: 1px solid #dcdcde;
}

figure {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0%;
}

figcaption {
  font-size: 10px;
  margin-top: -7px;
}

.headshot-group {
  min-width: $headshot-aspect-ratio * 3.3;
  text-align:center
}

.info-tooltips {
  float: right;
  margin-top: 10px;
}

.info-tooltips-buttons {
  white-space: pre-wrap;
}

// ::ng-deep .test {
//   white-space: pre-line;
// }